@charset "UTF-8";


body{
    background-color: #fff;
    margin:0; padding:0;
    overflow: hidden;
}

.wrap{
    width: 100%; height: 100%;

    div{
        cursor: default;
    }
}

.cutton{
    width: 100vw; height: 100vh;
    background-color: black;
    position: absolute; top:0; left:0; z-index:99;
}

header{
    width: 100%; height: 10vh;
    display: flex; justify-content: space-between; align-items: center;
    position: absolute; top:0; z-index:10;

    .open-menu{
        display: flex; align-items: center; justify-content: flex-end;
        cursor: pointer;
        padding-left: 3%;
        filter: invert(1);

        img{
            width: 2vw;
        }
    }
    .show{
        padding-right: 3%;
        text-transform: uppercase;
        font-family: 'Pretendard-Light'; font-size: 1vw; font-weight: bold;
        color: white;
    }
}
.menu{
    width: 100%; height: 100%;
    position: absolute; top: 0; left:100%; z-index:999;
    display: flex; flex-flow: column; justify-content: center;
    padding-left: 10%;
    line-height: 10vh;
    backdrop-filter: blur(10px);
    margin:0; 
    
    li a{
        text-transform: uppercase;
        font-size: 6em; font-family: 'yg-jalnan';
        color: white;
    }
}

#nav_big_text{
    position:fixed; right: 0.5em; bottom: 0.1em;
    transform: translateX(10%);
    font-size: 15em; font-family: 'EliceDigitalBaeum_Bold';
    color:  hsl(0, 87%, 69%);
    text-transform: uppercase;
    opacity: 0;
    z-index: -1;
    transition: .35s;
    transition-timing-function: ease-out;

    &.big_text_active{
        transform: translateX(0%);
        opacity: 1;
        z-index:99999;
    }
}
#nav_big_text.big_text_active{
    transform: translateX(0%);
    opacity: 1;
}


.slider{
    width: 100%; height: 100vh;
    position:relative;
    background-image: url(../img/design-bg4.png); background-size: 100% 100%;

    &-main-text{
        width: 200%; height: 100%;
        animation: marquee 30s linear infinite;
        -webkit-animation: marquee 30s linear 1;
        position:absolute;
        display: flex; align-items: center;
        opacity:0;

        span{
            width: 80%;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            text-transform: uppercase;
            font-size: 25em;
            -webkit-text-stroke: 1px white;
            color: rgba(0, 0, 0, 0);
            white-space: nowrap;
            float: left;
            cursor: default;
        }
    }

}
@keyframes marquee {
    0% {
      left: 0;
      opacity: 1;
    }
    100% {
      left: -100%;
      opacity: 0;
    }
}
@-webkit-keyframes marquee {
    0% {
      left: 0;
      opacity: 1;
    }

    100% {
      left: -100%;
      opacity: 0;
    }
}

footer{
    width: 100%; height: 10vh;
    display: flex; align-items: center; justify-content: space-between;
    position:absolute; bottom: 0;
    color: white;

    div:nth-of-type(1){
        padding-left: 3%;
        text-transform: uppercase;
        font-family: 'Pretendard-Light'; font-size: 1vw; font-weight: bold;
    }
    div:nth-of-type(2){
        padding-right: 3%;
        text-transform: uppercase;
        font-family: 'Pretendard-Light'; font-size: 1vw; font-weight: bold;
    }
}